@*@using X.PagedList
    @using X.PagedList.Mvc.Core
    @using X.PagedList.Mvc.Common*@

@model Pharmacies.Web.Models.PharmaciesViewModels.AllPharmaciesViewModel
<div class="container-fluid text-center" lang="bg">
    <h4 class="text-center mt-2 font-weight-bold">Аптеки с лиценз</h4>
    <hr class="hr-2" />

    <table class="table table-striped .thead-dark">
        <thead class="font-weight-bold" lang="bg">
            <tr>
                <th>#</th>
                <th>Аптека име</th>
                <th>Населено място</th>
                <th>Адрес</th>
                <th>Управител на аптеката</th>
            </tr>
        </thead>
        <tbody>
            @{ var i = 1;}
            @foreach (var item in Model.AllPharmacies.ToList())
            {
                <tr>
                    <td>@(i++)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manager)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*<nav class="pagination justify-content-center">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("All", new { page = page }),
        new PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
    </nav>*@
